@media screen and (max-width: 1700px) {
    #title h1 {
        font-size: 33px;
    }

    #title p {
        font-size: 17px;
    }

    #the_button {
        font-size: 1rem;
        height: 3rem;
        line-height: 3rem;
        padding: 5px 70px 5px 20px;
    }

    #foot-text {
        width: 100%;
        text-align: center;
    }

    #pc {
        width: 600px;
    }

    #photo {
        width: 472px;
        margin-left: 64px;
        margin-top: 18px;
    }

    #gradiant {
        width: 472px;
        height: 269.703px;
        margin-left: 64px;
        margin-top: 18px;
    }

    #soluce {
        width: 600px;
    }

    article div {
        padding: 0 60px 0 60px;
    }

    .image_left {
        width: 480px;
        height: 480px;
    }

    .image_right {
        width: 480px;
        height: 480px;
    }

    .gradiant_left {
        width: 480px;
        height: 480px;
    }

    .gradiant_right {
        width: 480px;
        height: 480px;
    }

    #first_frame {
        height: 550px;
    }

    #second_frame {
        height: 600px;
    }

    #third_frame {
        height: 550px;
    }

    #rate_div p {
        max-width: 85%;
    }

    .progress-bar {
        width: 80%;
    }

    .rating {
        margin: 50px 0 50px 160px;
    }
}

@media screen and (max-width: 1100px) {
    header {
        justify-content: space-around;
        height: 160px;
        font-size: 23px;
    }

    header a {
        font-size: 31px;
    }

    header p {
        font-size: 31px;
    }

    #presentation {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 105vh;
    }

    #title {
        margin-top: 20%;
        margin-left: 10%;
    }

    #title h1 {
        font-size: 60px;
    }

    #title p {
        font-size: 40px;
    }
}